@model GolbonWebRoad.Web.Areas.Admin.Models.Users.ManageUserRolesViewModel

<form method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="card">
        <div class="card-header">
            <h2>مدیریت نقش‌های کاربر: @Model.UserName</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="Roles[i].RoleName" />
                    <input type="checkbox" asp-for="Roles[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" for="Roles_@(i)__IsSelected">
                        @Model.Roles[i].RoleName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
            <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
        </div>
    </div>
</form>